<div class="message-info">
  {{#tabbed-section}}
    {{#tab-contents name="info" hint="show info" currentMessage=currentMessage}}
      {{#if showTitle}}
      <h3>Message
        {{#if currentMessage.showCount}}
          ({{currentMessage.count}} copies reported)
        {{/if}}
      </h3>
      {{/if}}
      <pre>{{currentMessage.message}}</pre>
    {{/tab-contents}}
    {{#tab-contents name="backtrace" defaultTab="true" hint="show backtrace" currentMessage=currentMessage}}
      {{#if showTitle}}
      <h3>Backtrace</h3>
      {{/if}}
        <pre>{{currentMessage.backtrace}}</pre>
    {{/tab-contents}}
    {{#if currentMessage.env}}
      {{#tab-contents className="env" name="env" hint="show environment" currentMessage=currentMessage}}
          {{#if showTitle}}
          <h3>Env</h3>
          {{/if}}
          {{{currentMessage.envTable}}}
      {{/tab-contents}}
    {{/if}}
  {{/tabbed-section}}

  {{#if currentMessage}}
    <div class='message-actions'>

    {{#unless currentMessage.protected}}
      {{#if currentMessage.canSolve}}
        <button {{action 'solve'}} class="solve btn danger"><i class='fa fa-check-square-o'></i>Solve</button>
      {{/if}}

      <button {{action 'remove'}} class="delete btn danger"><i class='fa fa-trash-o'></i>Delete</button>

      <button {{action 'protect'}} class="protect btn"><i class='fa fa-lock'></i>Protect</button>
    {{else}}
      <button {{action 'unprotect'}} class="unprotect btn"><i class='fa fa-unlock'></i>Unprotect</button>
    {{/unless}}
      <a href="{{currentMessage.shareUrl}}" class="share btn"><i class='fa fa-share'></i>Share</a>
    </div>

  {{/if}}
</div>
