{{yield}}
<ul class="tabs">
  {{#each tab in tabs}}
    <li><a {{bind-attr title="tab.hint"}} href="#" {{bind-attr class="tab.active"}} {{action selectTab tab}}>{{tab.name}}</a></li>
  {{/each}}
</ul>
