<table class='log-table'>
  <thead>
    <tr>
      <th></th>
      <th>Info</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  {{#if model.moreBefore}}
    <tr {{action showMoreBefore}} class="show-more">
      <td colspan=3>{{model.totalBefore}} more</td>
    </tr>
  {{/if}}
  {{each model.messages itemViewClass="App.MessageView"}}
  </tbody>
</table>

<div class="action-panel">
  <label class="debug">
    {{input type="checkbox" checked=showDebug}}
    Debug
  </label>
  <label class="info">
    {{input type="checkbox" checked=showInfo}}
    Info
  </label>
  <label class="warn">
    {{input type="checkbox" checked=showWarn}}
    Warning
  </label>
  <label class="error">
    {{input type="checkbox" checked=showErr}}
    Error
  </label>
</div>
