<table class='log-table'>
  <thead>
    <tr>
      <th></th>
      <th>Info</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  {{#if model.moreBefore}}
    <tr {{action showMoreBefore}} class="show-more">
      <td colspan=3>{{model.totalBefore}} more</td>
    </tr>
  {{/if}}
  {{#each model.messages}}
    <tr class="{{unbound rowClass}}">
      <td class="severity">{{{glyph}}}</td>
      <td class="message">{{displayMessage}}
        {{#if hasMore}}
        &hellip; <a href="#" {{action expandMessage this}}>more</a>
        {{/if}}
      </td>
      <td class="time">{{timeAgo timestamp}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<div class="action-panel">
  <label class="debug">
    {{input type="checkbox" name="showDebug"}}
    Debug
  </label>
  <label class="info">
    {{input type="checkbox" name="showInfo"}}
    Info
  </label>
  <label class="warn">
    {{input type="checkbox" name="showWarn"}}
    Warning
  </label>
  <label class="error">
    {{input type="checkbox" name="showErr"}}
    Error
  </label>
</div>
