{{#if actionsInMenu}}
  {{#if showMenu}}
    <div class="actions-menu">
      {{yield}}
    </div>
  {{/if}}
  <button {{action 'expandMenu'}} class="expand btn no-text"><i class='fa fa-ellipsis-h'></i></button>
  {{#if showShare}}
    <button {{action "share"}} class="share btn"><i class='fa fa-share'></i><span>Share</span></button>
  {{/if}}
{{else}}
  {{yield}}
  {{#if showShare}}
    <button {{action "share"}} class="share btn"><i class='fa fa-share'></i><span>Share</span></button>
  {{/if}}
{{/if}}
