{{#if actionsInMenu}}
  {{#if showMenu}}
    <div class="actions-menu">
      {{yield}}
    </div>
  {{/if}}
  <button {{action 'expandMenu'}} class="expand btn no-text">{{fa-icon 'ellipsis-h'}}</button>
  {{#if showShare}}
    <button {{action "share"}} class="share btn">{{fa-icon "share"}}<span>Share</span></button>
  {{/if}}
{{else}}
  {{yield}}
  {{#if showShare}}
    <button {{action "share"}} class="share btn">{{fa-icon "share"}}<span>Share</span></button>
  {{/if}}
{{/if}}
