<div class="count">
  {{#if @model.showCount}}
    {{@model.count}}
  {{/if}}
</div>

<div class="severity">
  {{#if @model.glyph}}
    <FaIcon @icon={{@model.glyph}} @prefix={{@model.prefix}} class={{@model.klass}} />
  {{/if}}
</div>

<div class="message-body">
  {{@model.displayMessage}}
</div>

<div class='protected'>
  {{#if @model.protected}}
    <FaIcon @icon="lock" title="message is protected, clearing will not remove it" />
  {{/if}}
</div>

<div class="time">
  <TimeFormatter @timestamp={{@model.timestamp}} />
</div>
