<div class="message-info">
  {{#tabbed-section onTabChange=(action "tabChanged")}}
    {{#tab-contents name="info" hint="show info" currentMessage=currentMessage}}
      {{#if showTitle}}
        <h3>Message
          {{#if currentMessage.showCount}}
            ({{currentMessage.count}} copies reported)
          {{/if}}
        </h3>
      {{/if}}
      <pre>{{currentMessage.message}}</pre>
    {{/tab-contents}}
    {{#tab-contents name="backtrace" defaultTab="true" hint="show backtrace" currentMessage=currentMessage}}
      {{#if showTitle}}
        <h3>Backtrace</h3>
      {{/if}}
      <pre>
        {{~back-trace
          class="backtrace"
          backtrace=currentMessage.backtrace
          env=currentMessage.env~}}
      </pre>
    {{/tab-contents}}
    {{#tab-contents className="env" name="env" hint="show environment" currentMessage=currentMessage }}
      {{#if currentMessage}}
        {{#if currentMessage.env}}
          {{#if showTitle}}
            <h3>Env</h3>
          {{/if}}
          {{env-tab 
            message=currentMessage
            currentEnvPosition=currentEnvPosition
            envChangedAction=envChangedAction}}
        {{else if loadingEnv}}
          Loading env...
        {{else}}
          No env for this message.
        {{/if}}
      {{/if}}
    {{/tab-contents}}
  {{/tabbed-section}}

  {{#if currentMessage}}
    <div class='message-actions'>
      {{#actions-menu actionsInMenu=actionsInMenu showShare=showShare share=(action "share")}}
        {{#each buttons as |btn|}}
          <button {{action btn.action}} class="{{btn.klass}} btn {{if btn.danger 'danger' ''}}">
            {{fa-icon btn.icon prefix=btn.prefix}}
            <span>{{btn.label}}</span>
          </button>
        {{/each}}
      {{/actions-menu}}
    </div>
  {{/if}}
</div>
