{{#if @mutable}}
  <button class="btn new-pattern" type="button" {{on "click" this.create}}>
    <FaIcon @icon="plus" />
    <span>New</span>
  </button>
{{/if}}

{{#each this.allPatterns as |pattern|}}
  <div class="pattern-wrapper">
    <Input
      @type="textfield"
      @value={{pattern.valueBuffer}}
      class="pattern-input"
      placeholder="Enter regular expression…"
      disabled={{or this.immutable pattern.saving}}
    />

    {{#if @mutable}}
      {{#if pattern.hasBuffer}}
        <button disabled={{pattern.saving}} class="btn ok no-text save shrink" type="button" {{on "click" (fn this.save pattern)}}>
          <FaIcon @icon="check" />
        </button>
      {{/if}}

      <button disabled={{pattern.saving}} class="btn no-text trash shrink" type="button" {{on "click" (fn this.trash pattern)}}>
        <FaIcon @icon="trash-alt" />
      </button>
    {{/if}}

    {{#if this.showCounter}}
      <input disabled="true" title="Number of logs that have been suppressed by this pattern" class="count shrink" value={{pattern.count}}>
      <button class="btn no-text reset shrink" title="Reset count of suppressed logs" disabled={{pattern.zeroCount}} type="button" {{on "click" (fn this.resetCount pattern)}}>
        <FaIcon @icon="redo-alt" />
      </button>
    {{/if}}
  </div>

  {{#if @applyRetroactivelyCheckbox}}
    {{#if pattern.isNew}}
      <div class="retro-checkbox">
        <input checked={{pattern.retroactive}} type="checkbox" class="checkbox" onclick={{fn this.checkboxChanged pattern}}>
        Apply retroactively
      </div>
    {{/if}}
  {{/if}}

  {{~#if pattern.error~}}
    <pre class="api-error">
      {{~pattern.error~}}
    </pre>
  {{~/if~}}
{{/each}}
