{{yield
  (hash addTab=this.addTab removeTab=this.removeTab selectTab=this.selectTab)
}}

<ul class="tabs">
  {{#each this.tabs as |tab|}}
    <li>
      <a title="{{unbound tab.hint}}" href="#" class="{{if tab.active 'active'}}" {{on "click" (fn this.selectTab tab)}}>
        {{unbound tab.name}}
      </a>
    </li>
  {{/each}}
</ul>
