<div id="top-panel">
  <div id="log-table">
    {{#if this.model.moreBefore}}
      <div {{on "click" this.showMoreBefore}} class="show-more">
        {{#if this.model.hideCountInLoadMore}}
          Load more
        {{else}}
          Select to see
          {{this.model.totalBefore}}
          more
        {{/if}}
      </div>
    {{/if}}

    {{#if this.loading}}
      <div class="loading"></div>
    {{/if}}

    {{#each this.model.rows as |row|}}
      <MessageRow @model={{row}} @selectRow={{fn this.selectRowAction row}} />
    {{/each}}
  </div>
</div>

<div id="bottom-panel" class={{if this.model.currentRow.group "group-view"}}>
  {{#if this.model.currentRow.group}}
    <PageNav
      @list={{this.model.currentRow.messages}}
      @position={{this.model.currentGroupedMessagesPosition}}
      @extraClasses="group-nav"
      @navigate={{this.groupedMessageChangedAction}}
    />
  {{/if}}

  <MessageInfo
    @currentMessage={{this.model.currentMessage}}
    @currentRow={{this.model.currentRow}}
    @loadingEnv={{this.model.loadingEnv}}
    @removeMessage={{this.removeMessage}}
    @solveMessage={{this.solveMessage}}
    @onTabChange={{this.tabChangedAction}}
    @envChangedAction={{this.envChangedAction}}
    @currentEnvPosition={{this.model.currentEnvPosition}}
    @actionsInMenu={{this.actionsInMenu}}
    @showShare={{true}}
  />

  <div class="action-panel">
    <div class="severity-filters">
      <div class="more-wrapping">
        <label class="debug">
          <input
            type="checkbox"
            checked={{this.showDebug}}
            onchange={{fn this.updateFilter "showDebug"}}
          />
          <span>Debug</span>
        </label>

        <label class="info">
          <input
            type="checkbox"
            checked={{this.showInfo}}
            onchange={{fn this.updateFilter "showInfo"}}
          />
          <span>Info</span>
        </label>

        <label class="warn">
          <input
            type="checkbox"
            checked={{this.showWarn}}
            onchange={{fn this.updateFilter "showWarn"}}
          />
          <FaIcon @icon="exclamation-circle" class="warning" />
          <span>Warning</span>
        </label>

        <label class="error">
          <input
            type="checkbox"
            checked={{this.showErr}}
            onchange={{fn this.updateFilter "showErr"}}
          />
          <FaIcon @icon="times-circle" class="error" />
          <span>Error</span>
        </label>

        <label class="fatal">
          <input
            type="checkbox"
            checked={{this.showFatal}}
            onchange={{fn this.updateFilter "showFatal"}}
          />
          <FaIcon @icon="times-circle" class="fatal" />
          <span>Fatal</span>
        </label>
      </div>
    </div>

    <div class="search-clear-all">
      <input
        type="text"
        class="search"
        placeholder="Search"
        value={{this.searchTerm}}
        onkeyup={{this.updateSearch}}
      />

      <div class="footer-btns">
        {{#if this.showSettings}}
          <LinkTo @route="settings" class="settings btn no-text">
            <FaIcon @icon="cog" />
          </LinkTo>
        {{/if}}

        <button
          class="clear btn danger"
          type="button"
          {{on "click" this.clear}}
        >
          <FaIcon @icon="trash-alt" prefix="far" />
          <span>Clear logs</span>
        </button>
      </div>
    </div>
  </div>
</div>

<PanelResizer />