<div id='top-panel'>
  <table id='log-table'>
    <thead>
      <tr>
        <th class="count"></th>
        <th class="severity"></th>
        <th class="info"></th>
        <th class="protected"></th>
        <th class="time"></th>
      </tr>
    </thead>
    <tbody>
    {{#if model.moreBefore}}
      <tr {{action "showMoreBefore"}} class="show-more">
        <td colspan=5>select to see {{model.totalBefore}} more</td>
      </tr>
    {{/if}}
    {{#each model.messages as |message|}}
      {{message-row model=message selectedMessage=(action "selectMessage")}}
    {{/each}}
    </tbody>
  </table>
</div>
{{panel-resizer}}
<div id="bottom-panel">
  {{message-info
    currentMessage=currentMessage
    removeMessage=(action "removeMessage")
    solveMessage=(action "solveMessage")
    actionsInMenu=actionsInMenu}}

  <div class="action-panel">
    <div class="severity-filters">
    <div class="more-wrapping">
      <label class="debug">
        {{input type="checkbox" checked=showDebug}}
        <span>Debug</span>
      </label>
      <label class="info">
        {{input type="checkbox" checked=showInfo}}
        <span>Info</span>
      </label>
      <label class="warn">
        {{input type="checkbox" checked=showWarn}}
        <i class='fa fa-exclamation-circle warning'></i>
        <span>Warning</span>
      </label>
      <label class="error">
        {{input type="checkbox" checked=showErr}}
        <i class='fa fa-times-circle error'></i>
        <span>Error</span>
      </label>
      <label class="fatal">
        {{input type="checkbox" checked=showFatal}}
        <i class='fa fa-times-circle fatal'></i>
        <span>Fatal</span>
      </label>
    </div>
    </div>
    <div class="search-clear-all">
      {{input type="textfield" class="search" placeholder="Search" value=search}}
      <button class="clear btn danger" {{action "clear"}}><i class='fa fa-times'></i><span>Clear logs</span></button>
    </div>
  </div>
</div>
